<div class="row register">
  <div class="col-lg-6 offset-lg-3">
    <div class="register_form_title">Sign Up</div>
    <div class="register_form_container">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row register_row">
          <div class="col-lg-12 register_col">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_input", placeholder: "Email" %>
          </div>
          <div class="col-lg-12 register_col">
            <%= f.password_field :password, autocomplete: "new-password", class: "form_input", placeholder: "Password (6 characters minimum)" %>
          </div>
          <div class="col-lg-12 register_col">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form_input", placeholder: "Password confirmation" %>
          </div>
          <div class="col">
            <%= f.submit "Sign Up", class: "form_button trans_200" %>
          </div>
        </div>
      <% end %>
      </br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
