<div class="home", style="width: 100%; height: 179px; background: #f1f1f1;">
	<div class="breadcrumbs_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="breadcrumbs_list d-flex flex-row align-items-center justify-content-start">
						<li><a><%= link_to (t".h"), root_path %></a></li>
						<li><a><%= link_to (t".l"), lessons_path %></a></li>
						<li><a><%= @lesson.category.name %></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="courses">
  <div class="container">
    <div class="row courses_row">
      <div class="col-lg-4 course_col">
      	<% @lesson_words.shuffle.each_with_index do |word, index| %>
      	  <strong><%= index + 1 %>.&ensp;<%= word.content %></strong></br>
      	  <% word.word_answers.shuffle.each do |answer| %>
      	    <p><%= answer.content %></p>
          <% end %>
      	<% end %>
      </div>
    </div>
  </div>
</div>
