<div class="home", style="width: 100%; height: 179px; background: #f1f1f1;">
	<div class="breadcrumbs_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="breadcrumbs_list d-flex flex-row align-items-center justify-content-start">
						<li><a><%= link_to (t".h"), root_path %></a></li>
						<li><a><%= t".w" %></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="courses">
	<div class="container">
		<div class="row courses_row">
           <div class="col-lg-4 course_col">
              <h3><%= t".l" %></h3></br>

              <%= form_with url: words_path, method: :get, include_blank: true do %>
                <%= select_tag (t".f"), options_for_select([[(t".d")], [(t".al")], [(t".lr")], [(t".c")]]),
                onchange: "this.form.submit()" %>
              <% end %>

              <% if params[:filter_form] == (t".c") %>
                <%= render "words/filter_by_categories" %>
              <% elsif params[:filter_form] == (t".lr") %>
                <%= render "words/filter_by_learned_words" %>
              <% else %>
                <%= render "words/filter_by_alphabet" %>
              <% end %>
            </div>
        </div>
    </div>
</div>
