<%= simple_form_for(@category, html { class: "form-inline" }) do |f| %>
  <%= f.input :name %>

  <table class="table">
  	<thead>
  	  <tr>
  	  	<th></th>
  	  	<th>Word</th>
  	  </tr>
  	</thead>
  </table>

  <%= f.simple_fields_for :words do |builder| %>
    <%= builer.input :content %>
  <% end %>

  <%= f.button :submit %>
<% end %>