<footer class="footer">
	<div class="footer_body">
		<div class="container">
			<div class="row">

				<!-- Newsletter -->
				<div class="col-lg-3 footer_col">
					<div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
						<div class="footer_logo mb-auto"><a href="#"><%= t".z" %></a></div>
						<div class="footer_title"><%= t".s" %></div>
						<form action="#" id="newsletter_form" class="newsletter_form">
							<input type="email" class="newsletter_input" placeholder="Email" required="required">
							<button class="newsletter_button"><i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i></button>
						</form>
					</div>
				</div>

				<!-- About -->
				<div class="col-lg-2 offset-lg-3 footer_col">
					<div>
						<div class="footer_title"><%= t".a" %></div>
						<ul class="footer_list">
							<li><a><%= t".a1" %></a></li>
							<li><a><%= t".a2" %></a></li>
							<li><a><%= t".a4" %></a></li>
							<li><a><%= t".a5" %></a></li>
						</ul>
					</div>
				</div>

				<!-- Help & Support -->
				<div class="col-lg-2 footer_col">
					<div class="footer_title"><%= t".a6" %></div>
					<ul class="footer_list">
						<li><a><%= t".a7" %></a></li>
						<li><a><%= t".a8" %></a></li>
						<li><a><%= t".a12" %></a></li>
					</ul>
				</div>

				<!-- Privacy -->
				<div class="col-lg-2 footer_col clearfix">
					<div>
						<div class="footer_title"><%= t".a13" %></div>
						<ul class="footer_list">
							<li><a><%= t".a14" %></a></li>
							<li><a><%= t".a15" %></a></li>
							<li><a><%= t".a16" %></a></li>
							<li><a><%= t".a17" %></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="copyright_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
						<div class="cr_right ml-md-auto">
							<div class="footer_phone"><span class="cr_title"><%= t".b" %></span><%= t".c" %></div>
							<div class="footer_social">
								<span class="cr_social_title"><%= t".f" %></span>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
